:80 {
    log {
        output stdout
        format console
    }

    handle /api/* {
        reverse_proxy backend:8080
    }

    handle /actuator/* {
        reverse_proxy backend:8080
    }

    respond /health 200

    handle {
        reverse_proxy frontend:3000
    }
}
